In [63]:
%matplotlib inline

# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import re

# Data Wrangling

All data on cities and counties were sourced from https://www.census.gov/quickfacts.

Because we will be analyzing the impact, if any, of variously ranked colleges on the respective cities and counties they are located in, we want the data to be organized based on ranking, allowing us to easily isolate the analysis.

The U.S. Census Bureau provides us tables with the following data.

In [64]:
cities_dataset_path = './datasets/cities/'
counties_dataset_path = './datasets/counties/'

# create separate dictionaries for each category of colleges that the cities are home to
top_cities = dict()
mid_cities = dict()
bot_cities = dict()
other_cities = dict() # misc areas for further analysis

# populate dicts based on filename indicators
for c in os.listdir(cities_dataset_path):
    # filenames truncated to city-state format for simplicity
    truncated_file_name = '-'.join((c.split('-')[:2]))
    if c.endswith("top-city.csv"):
        top_cities[truncated_file_name] = pd.read_csv(cities_dataset_path + c)
    elif c.endswith("mid-city.csv"):
        mid_cities[truncated_file_name] = pd.read_csv(cities_dataset_path + c)
    elif c.endswith("bot-city.csv"):
        bot_cities[truncated_file_name] = pd.read_csv(cities_dataset_path + c)
    elif '-' in c:
        other_cities[truncated_file_name] = pd.read_csv(cities_dataset_path + c)

# similar process for counties
top_counties = dict()
mid_counties = dict()
bot_counties = dict()
other_counties = dict()

for c in os.listdir(counties_dataset_path):
    # filenames truncated to county-state format for simplicity
    truncated_file_name = '-'.join((c.split('-')[:2]))
    if c.endswith("top-county.csv"):
        top_counties[truncated_file_name] = pd.read_csv(counties_dataset_path + c)
    elif c.endswith("mid-county.csv"):
        mid_counties[truncated_file_name] = pd.read_csv(counties_dataset_path + c)
    elif c.endswith("bot-county.csv"):
        bot_counties[truncated_file_name] = pd.read_csv(counties_dataset_path + c)
    elif '-' in c:
        other_counties[truncated_file_name] = pd.read_csv(counties_dataset_path + c)

# testing
print('============== TOP TEST ===============')
print(top_cities['stanford-ca'])
print('\n============== MID TEST ===============')
print(mid_cities['whitewater-wi'])
print('\n============== BOT TEST ===============')
print(bot_counties['westmoreland-pa'])

============== TOP TEST ===============
                                                 Fact  \
0        Population estimates, July 1, 2018,  (V2018)
1   Population estimates base, April 1, 2010,  (V2...
2   Population, percent change - April 1, 2010 (es...
3                   Population, Census, April 1, 2010
4                      Persons under 5 years, percent
5                     Persons under 18 years, percent
6                  Persons 65 years and over, percent
7                             Female persons, percent
8                                White alone, percent
9            Black or African American alone, percent
10   American Indian and Alaska Native alone, percent
11                               Asian alone, percent
12  Native Hawaiian and Other Pacific Islander alo...
13                         Two or More Races, percent
14                        Hispanic or Latino, percent
15       White alone, not Hispanic or Latino, percent
16                                Veterans, 2013-2017
17           Foreign born persons, percent, 2013-2017
18             Housing units,  July 1, 2017,  (V2017)
19        Owner-occupied housing unit rate, 2013-2017
20  Median value of owner-occupied housing units, ...
21  Median selected monthly owner costs -with a mo...
22  Median selected monthly owner costs -without a...
23                       Median gross rent, 2013-2017
24                             Building permits, 2017
25                              Households, 2013-2017
26                   Persons per household, 2013-2017
27  Living in same house 1 year ago, percent of pe...
28  Language other than English spoken at home, pe...
29     Households with a computer, percent, 2013-2017
..                                                ...
52                                    All firms, 2012
53                              Men-owned firms, 2012
54                            Women-owned firms, 2012
55                         Minority-owned firms, 2012
56                      Nonminority-owned firms, 2012
57                          Veteran-owned firms, 2012
58                       Nonveteran-owned firms, 2012
59                   Population per square mile, 2010
60                    Land area in square miles, 2010
61                                          FIPS Code
62                                                NaN
63  NOTE: FIPS Code values are enclosed in quotes ...
64                                                NaN
65                                        Value Notes
66                                               None
67                                                NaN
68                                         Fact Notes
69                                                (a)
70                                                (b)
71                                                (c)
72                                                NaN
73                                        Value Flags
74                                                  -
75                                                  D
76                                                  F
77                                                 FN
78                                                NaN
79                                                  S
80                                                  X
81                                                  Z

                                            Fact Note  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 (a)
10                                                (a)
11                                                (a)
12                                                (a)
13                                                NaN
14                                                (b)
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN
28                                                NaN
29                                                NaN
..                                                ...
52                                                NaN
53                                                NaN
54                                                NaN
55                                                NaN
56                                                NaN
57                                                NaN
58                                                NaN
59                                                NaN
60                                                NaN
61                                                NaN
62                                                NaN
63                                                NaN
64                                                NaN
65                                                NaN
66                                                NaN
67                                                NaN
68                                                NaN
69           Includes persons reporting only one race
70  Hispanics may be of any race, so also are incl...
71  Economic Census - Puerto Rico data are not com...
72                                                NaN
73                                                NaN
74  Either no or too few sample observations were ...
75  Suppressed to avoid disclosure of confidential...
76                                Fewer than 25 firms
77             Footnote on this item in place of data
78                                      Not available
79    Suppressed; does not meet publication standards
80                                     Not applicable
81  Value greater than zero but less than half uni...

   Stanford CDP, California  Value Note for Stanford CDP, California
0                         X                                      NaN
1                         X                                      NaN
2                         X                                      NaN
3                    13,809                                      NaN
4                      2.8%                                      NaN
5                      7.6%                                      NaN
6                      3.9%                                      NaN
7                     43.9%                                      NaN
8                     56.6%                                      NaN
9                      4.3%                                      NaN
10                     0.4%                                      NaN
11                    27.0%                                      NaN
12                     0.3%                                      NaN
13                     9.7%                                      NaN
14                    13.6%                                      NaN
15                    47.4%                                      NaN
16                      107                                      NaN
17                    26.6%                                      NaN
18                        X                                      NaN
19                    27.9%                                      NaN
20               $1,591,300                                      NaN
21                   $3,922                                      NaN
22                   $1,363                                      NaN
23                   $1,592                                      NaN
24                        X                                      NaN
25                    3,286                                      NaN
26                     2.16                                      NaN
27                    54.2%                                      NaN
28                    41.1%                                      NaN
29                    99.9%                                      NaN
..                      ...                                      ...
52                      815                                      NaN
53                      424                                      NaN
54                      149                                      NaN
55                      173                                      NaN
56                      509                                      NaN
57                       79                                      NaN
58                      604                                      NaN
59                  5,056.4                                      NaN
60                     2.73                                      NaN
61                "0673906"                                      NaN
62                      NaN                                      NaN
63                      NaN                                      NaN
64                      NaN                                      NaN
65                      NaN                                      NaN
66                      NaN                                      NaN
67                      NaN                                      NaN
68                      NaN                                      NaN
69                      NaN                                      NaN
70                      NaN                                      NaN
71                      NaN                                      NaN
72                      NaN                                      NaN
73                      NaN                                      NaN
74                      NaN                                      NaN
75                      NaN                                      NaN
76                      NaN                                      NaN
77                      NaN                                      NaN
78                      NaN                                      NaN
79                      NaN                                      NaN
80                      NaN                                      NaN
81                      NaN                                      NaN

[82 rows x 4 columns]

============== MID TEST ===============
                                                 Fact  \
0        Population estimates, July 1, 2018,  (V2018)
1   Population estimates base, April 1, 2010,  (V2...
2   Population, percent change - April 1, 2010 (es...
3                   Population, Census, April 1, 2010
4                      Persons under 5 years, percent
5                     Persons under 18 years, percent
6                  Persons 65 years and over, percent
7                             Female persons, percent
8                                White alone, percent
9            Black or African American alone, percent
10   American Indian and Alaska Native alone, percent
11                               Asian alone, percent
12  Native Hawaiian and Other Pacific Islander alo...
13                         Two or More Races, percent
14                        Hispanic or Latino, percent
15       White alone, not Hispanic or Latino, percent
16                                Veterans, 2013-2017
17           Foreign born persons, percent, 2013-2017
18             Housing units,  July 1, 2017,  (V2017)
19        Owner-occupied housing unit rate, 2013-2017
20  Median value of owner-occupied housing units, ...
21  Median selected monthly owner costs -with a mo...
22  Median selected monthly owner costs -without a...
23                       Median gross rent, 2013-2017
24                             Building permits, 2017
25                              Households, 2013-2017
26                   Persons per household, 2013-2017
27  Living in same house 1 year ago, percent of pe...
28  Language other than English spoken at home, pe...
29     Households with a computer, percent, 2013-2017
..                                                ...
52                                    All firms, 2012
53                              Men-owned firms, 2012
54                            Women-owned firms, 2012
55                         Minority-owned firms, 2012
56                      Nonminority-owned firms, 2012
57                          Veteran-owned firms, 2012
58                       Nonveteran-owned firms, 2012
59                   Population per square mile, 2010
60                    Land area in square miles, 2010
61                                          FIPS Code
62                                                NaN
63  NOTE: FIPS Code values are enclosed in quotes ...
64                                                NaN
65                                        Value Notes
66                                               None
67                                                NaN
68                                         Fact Notes
69                                                (a)
70                                                (b)
71                                                (c)
72                                                NaN
73                                        Value Flags
74                                                  -
75                                                  D
76                                                  F
77                                                 FN
78                                                NaN
79                                                  S
80                                                  X
81                                                  Z

                                            Fact Note  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 (a)
10                                                (a)
11                                                (a)
12                                                (a)
13                                                NaN
14                                                (b)
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN
28                                                NaN
29                                                NaN
..                                                ...
52                                                NaN
53                                                NaN
54                                                NaN
55                                                NaN
56                                                NaN
57                                                NaN
58                                                NaN
59                                                NaN
60                                                NaN
61                                                NaN
62                                                NaN
63                                                NaN
64                                                NaN
65                                                NaN
66                                                NaN
67                                                NaN
68                                                NaN
69           Includes persons reporting only one race
70  Hispanics may be of any race, so also are incl...
71  Economic Census - Puerto Rico data are not com...
72                                                NaN
73                                                NaN
74  Either no or too few sample observations were ...
75  Suppressed to avoid disclosure of confidential...
76                                Fewer than 25 firms
77             Footnote on this item in place of data
78                                      Not available
79    Suppressed; does not meet publication standards
80                                     Not applicable
81  Value greater than zero but less than half uni...

   Whitewater city, Wisconsin  Value Note for Whitewater city, Wisconsin
0                         NaN                                        NaN
1                         NaN                                        NaN
2                         NaN                                        NaN
3                      14,390                                        NaN
4                        3.7%                                        NaN
5                       10.3%                                        NaN
6                        8.1%                                        NaN
7                       48.7%                                        NaN
8                       87.9%                                        NaN
9                        3.8%                                        NaN
10                       0.1%                                        NaN
11                       2.1%                                        NaN
12                       0.6%                                        NaN
13                       2.9%                                        NaN
14                       9.6%                                        NaN
15                      81.8%                                        NaN
16                        371                                        NaN
17                       5.3%                                        NaN
18                          X                                        NaN
19                      33.5%                                        NaN
20                   $164,400                                        NaN
21                     $1,479                                        NaN
22                       $548                                        NaN
23                       $722                                        NaN
24                          X                                        NaN
25                      4,609                                        NaN
26                       2.36                                        NaN
27                      53.3%                                        NaN
28                       9.2%                                        NaN

# Data Cleaning

The first part of the data we wanted to clean was simply the name of the column that holds all the statistic values. The name was originally just the name of the county/city. We believe that changing it to "fact_value" (given that the column with the name of the statistic is "fact", would be more clear.

In [65]:
all_csv = [top_cities, mid_cities, bot_cities, other_cities, top_counties, mid_counties, bot_counties, other_counties]
for d in all_csv:
    for k, v in d.items():
        v.rename(index = str, columns = {v.columns[2] : 'Fact Value'}, inplace = True)

assert top_cities['cambridge-ma'].columns[2] == 'Fact Value'

Currently, the column that should hold the fact value is of type object (str). We want this to be converted to ints so that we do not need to constantly type cast when performing our analysis.

To do this, we need to first delete rows that a fact value that indicates this statistic is not useful such as NA for not available. Further descriptions of the invalid value strings are given in a following section.

In [66]:
assert len(bot_cities['redding-ca'].loc[bot_cities['redding-ca']['Fact Value'] == 'X']) != 0
invalid_values = ['X', 'NA', 'D', '-', 'FN', 'F', 'S', 'Z']
for d in all_csv:
    for k, v in d.items():
        for i, r in v.iterrows():
            if r['Fact Value'] in invalid_values:
                v.drop(i, inplace = True)
                

assert len(bot_cities['redding-ca'].loc[bot_cities['redding-ca']['Fact Value'] == 'X']) == 0

Now, we can iterate through the Fact Value column, strip all non-numeric or . (indicating a decimal number) characters and retype each value from str to float64. We print out the pre and post cleaning types of the Fact Value column to verify our code.

In [67]:
print('Before cleaning:')
print(mid_counties['walworth-wi']['Fact Value'].dtypes)

for d in all_csv:
    for k, v in d.items():
        v.loc[:, 'Fact Value'] = v.loc[:, 'Fact Value'].str.strip('%"$')
        v.loc[:, 'Fact Value'] = v.loc[:, 'Fact Value'].str.replace(',', '')   
        v.loc[:, 'Fact Value'] = v.loc[:, 'Fact Value'].astype('float64')
        
print('\nAfter cleaning:')
print(mid_counties['walworth-wi']['Fact Value'].dtypes)

Before cleaning:
object

After cleaning:
float64

As seen in the initial output of our data wrangling, there are a couple of entirely or largely unneeded *columns* in the data where all the values are either NaN or irrelevant. 

We will be dropping or modifying the following columns to clean the data:

###### Fact Note:

This indicates:

**(a)** Includes persons reporting only one race

**(b)** Hispanics may be of any race, so also are included in applicable race categories

**(c)** Economic Census - Puerto Rico data are not comparable to U.S. Economic Census Data

As none of these factors influence the demographic data of the areas we are analyzing, we can remove this data.

###### Value Note 

This indicates: 

**(-)** Either no or too few sample observations were available to compute an estimate, or a ratio of medians cannot be calculated because one or both of the median estimates falls in the lowest or upper interval of an open ended distribution.	

**(D)**	Suppressed to avoid disclosure of confidential information	

**(F)**	Fewer than 25 firms		

**(FN)** Footnote on this item in place of data	

**(NA)** Not available		

**(S)**	Suppressed; does not meet publication standards

**(X)**	Not applicable

**(Z)**	Value greater than zero but less than half unit of measure shown

Value notes are indicated in the Fact Value column so we do not need the Value Note column at all.

In [68]:
assert top_cities['stanford-ca'].shape == (67, 4)

for d in all_csv:
    for k, v in d.items():
        v.drop([v.columns[1], v.columns[3]], axis = 1, inplace = True)

assert top_cities['stanford-ca'].shape == (67, 2)

We also observe that there are also many *rows* that have a NaN value.

In [69]:
for d in all_csv:
    for k, v in d.items():
        print('NaN values in each column for ' + k + ':\n'+ str(v.isna().sum()))

NaN values in each column for cambridge-ma:
Fact           5
Fact Value    23
dtype: int64
NaN values in each column for newhaven-ct:
Fact           5
Fact Value    23
dtype: int64
NaN values in each column for stanford-ca:
Fact           5
Fact Value    21
dtype: int64
NaN values in each column for jacksonville-il:
Fact           5
Fact Value    23
dtype: int64
NaN values in each column for westerville-oh:
Fact           5
Fact Value    23
dtype: int64
NaN values in each column for whitewater-wi:
Fact           5
Fact Value    23
dtype: int64
NaN values in each column for greensburg-pa:
Fact           5
Fact Value    23
dtype: int64
NaN values in each column for redding-ca:
Fact           5
Fact Value    23
dtype: int64
NaN values in each column for sanbernardino-ca:
Fact           5
Fact Value    23
dtype: int64
NaN values in each column for berkeley-ca:
Fact           5
Fact Value    23
dtype: int64
NaN values in each column for middlesex-ma:
Fact           5
Fact Value    20
dtype: int64
NaN values in each column for newhaven-ct:
Fact           5
Fact Value    20
dtype: int64
NaN values in each column for santaclara-ca:
Fact           5
Fact Value    20
dtype: int64
NaN values in each column for delaware-oh:
Fact           5
Fact Value    20
dtype: int64
NaN values in each column for morgan-il:
Fact           5
Fact Value    20
dtype: int64
NaN values in each column for walworth-wi:
Fact           5
Fact Value    20
dtype: int64
NaN values in each column for sanbernardino-ca:
Fact           5
Fact Value    20
dtype: int64
NaN values in each column for shasta-ca:
Fact           5
Fact Value    20
dtype: int64
NaN values in each column for westmoreland-pa:
Fact           5
Fact Value    20
dtype: int64
NaN values in each column for alameda-ca:
Fact           5
Fact Value    20
dtype: int64

These NaN rows are not useful, so we will drop these rows entirely.

In [70]:
for d in all_csv:
    for k, v in d.items():
        v.dropna(inplace = True)
        print('NaN values in each column for ' + k + ':\n'+ str(v.isna().sum()))

NaN values in each column for cambridge-ma:
Fact          0
Fact Value    0
dtype: int64
NaN values in each column for newhaven-ct:
Fact          0
Fact Value    0
dtype: int64
NaN values in each column for stanford-ca:
Fact          0
Fact Value    0
dtype: int64
NaN values in each column for jacksonville-il:
Fact          0
Fact Value    0
dtype: int64
NaN values in each column for westerville-oh:
Fact          0
Fact Value    0
dtype: int64
NaN values in each column for whitewater-wi:
Fact          0
Fact Value    0
dtype: int64
NaN values in each column for greensburg-pa:
Fact          0
Fact Value    0
dtype: int64
NaN values in each column for redding-ca:
Fact          0
Fact Value    0
dtype: int64
NaN values in each column for sanbernardino-ca:
Fact          0
Fact Value    0
dtype: int64
NaN values in each column for berkeley-ca:
Fact          0
Fact Value    0
dtype: int64
NaN values in each column for middlesex-ma:
Fact          0
Fact Value    0
dtype: int64
NaN values in each column for newhaven-ct:
Fact          0
Fact Value    0
dtype: int64
NaN values in each column for santaclara-ca:
Fact          0
Fact Value    0
dtype: int64
NaN values in each column for delaware-oh:
Fact          0
Fact Value    0
dtype: int64
NaN values in each column for morgan-il:
Fact          0
Fact Value    0
dtype: int64
NaN values in each column for walworth-wi:
Fact          0
Fact Value    0
dtype: int64
NaN values in each column for sanbernardino-ca:
Fact          0
Fact Value    0
dtype: int64
NaN values in each column for shasta-ca:
Fact          0
Fact Value    0
dtype: int64
NaN values in each column for westmoreland-pa:
Fact          0
Fact Value    0
dtype: int64
NaN values in each column for alameda-ca:
Fact          0
Fact Value    0
dtype: int64

Because our analysis will only need statistics about demographics, we can drop all rows with irrelevant statistics. We decided to do this last so that, in case we do need to use other statistics, the data for that row will already be cleaned up to this point.

In [71]:
demographic_rows = ['White alone, percent', 'Black or African American alone, percent', 'American Indian and Alaska Native alone, percent', 'Asian alone, percent', 'Native Hawaiian and Other Pacific Islander alone, percent', 'Two or More Races, percent', 'Hispanic or Latino, percent', 'White alone, not Hispanic or Latino, percent']

for d in all_csv:
    for k, v in d.items():
        d[k] = v.loc[(v['Fact'].isin(demographic_rows))]
        # reset index to start from 0 since rows before may have been dropped
        d[k].reset_index(drop = True, inplace = True)

for d in all_csv:
    for k, v in d.items():
        assert d[k].shape == (7, 2) or d[k].shape == (8, 2)

We are now left with dataframes that are of shape either (7, 2) or (8, 2), have no NaN values, have values that are ready to analyze and work with (float type) and only contain relevant demographic statistics.

#### Here is the final cleaned data:

In [72]:
for d in all_csv:
    for k, v in d.items():
        print(k + ' | shape: ' + str(v.shape))
        print(v)
        print('\n')

cambridge-ma | shape: (8, 2)
                                                Fact  Fact Value
0                               White alone, percent        66.9
1           Black or African American alone, percent        10.8
2   American Indian and Alaska Native alone, percent         0.2
3                               Asian alone, percent        15.7
4  Native Hawaiian and Other Pacific Islander alo...         0.1
5                         Two or More Races, percent         4.2
6                        Hispanic or Latino, percent         8.8
7       White alone, not Hispanic or Latino, percent        61.6


newhaven-ct | shape: (8, 2)
                                                Fact  Fact Value
0                               White alone, percent        43.0
1           Black or African American alone, percent        33.0
2   American Indian and Alaska Native alone, percent         0.3
3                               Asian alone, percent         4.7
4  Native Hawaiian and Other Pacific Islander alo...         0.0
5                         Two or More Races, percent         3.9
6                        Hispanic or Latino, percent        30.4
7       White alone, not Hispanic or Latino, percent        30.3


stanford-ca | shape: (8, 2)
                                                Fact  Fact Value
0                               White alone, percent        56.6
1           Black or African American alone, percent         4.3
2   American Indian and Alaska Native alone, percent         0.4
3                               Asian alone, percent        27.0
4  Native Hawaiian and Other Pacific Islander alo...         0.3
5                         Two or More Races, percent         9.7
6                        Hispanic or Latino, percent        13.6
7       White alone, not Hispanic or Latino, percent        47.4


jacksonville-il | shape: (8, 2)
                                                Fact  Fact Value
0                               White alone, percent        84.9
1           Black or African American alone, percent        11.0
2   American Indian and Alaska Native alone, percent         0.3
3                               Asian alone, percent         1.0
4  Native Hawaiian and Other Pacific Islander alo...         0.0
5                         Two or More Races, percent         2.6
6                        Hispanic or Latino, percent         3.9
7       White alone, not Hispanic or Latino, percent        81.8


westerville-oh | shape: (8, 2)
                                                Fact  Fact Value
0                               White alone, percent        86.2
1           Black or African American alone, percent         8.0
2   American Indian and Alaska Native alone, percent         0.0
3                               Asian alone, percent         2.1
4  Native Hawaiian and Other Pacific Islander alo...         0.0
5                         Two or More Races, percent         3.2
6                        Hispanic or Latino, percent         1.9
7       White alone, not Hispanic or Latino, percent        84.6


whitewater-wi | shape: (8, 2)
                                                Fact  Fact Value
0                               White alone, percent        87.9
1           Black or African American alone, percent         3.8
2   American Indian and Alaska Native alone, percent         0.1
3                               Asian alone, percent         2.1
4  Native Hawaiian and Other Pacific Islander alo...         0.6
5                         Two or More Races, percent         2.9
6                        Hispanic or Latino, percent         9.6
7       White alone, not Hispanic or Latino, percent        81.8


greensburg-pa | shape: (8, 2)
                                                Fact  Fact Value
0                               White alone, percent        88.0
1           Black or African American alone, percent         6.1
2   American Indian and Alaska Native alone, percent         0.0
3                               Asian alone, percent         1.4
4  Native Hawaiian and Other Pacific Islander alo...         0.0
5                         Two or More Races, percent         4.4
6                        Hispanic or Latino, percent         2.1
7       White alone, not Hispanic or Latino, percent        86.3


redding-ca | shape: (8, 2)
                                                Fact  Fact Value
0                               White alone, percent        84.3
1           Black or African American alone, percent         1.4
2   American Indian and Alaska Native alone, percent         2.2
3                               Asian alone, percent         4.8
4  Native Hawaiian and Other Pacific Islander alo...         0.0
5                         Two or More Races, percent         4.7
6                        Hispanic or Latino, percent        10.1
7       White alone, not Hispanic or Latino, percent        77.9


sanbernardino-ca | shape: (8, 2)
                                                Fact  Fact Value
0                               White alone, percent        57.4
1           Black or African American alone, percent        14.1
2   American Indian and Alaska Native alone, percent         0.7
3                               Asian alone, percent         4.5
4  Native Hawaiian and Other Pacific Islander alo...         0.2
5                         Two or More Races, percent         4.6
6                        Hispanic or Latino, percent        64.3
7       White alone, not Hispanic or Latino, percent        15.3


berkeley-ca | shape: (8, 2)
                                                Fact  Fact Value
0                               White alone, percent        60.2
1           Black or African American alone, percent         8.6
2   American Indian and Alaska Native alone, percent         0.5
3                               Asian alone, percent        19.7
4  Native Hawaiian and Other Pacific Islander alo...         0.5
5                         Two or More Races, percent         7.1
6                        Hispanic or Latino, percent        11.0
7       White alone, not Hispanic or Latino, percent        54.6


middlesex-ma | shape: (8, 2)
                                                Fact  Fact Value
0                               White alone, percent        79.2
1           Black or African American alone, percent         5.8
2   American Indian and Alaska Native alone, percent         0.3
3                               Asian alone, percent        12.3
4  Native Hawaiian and Other Pacific Islander alo...         0.1
5                         Two or More Races, percent         2.4
6                        Hispanic or Latino, percent         8.0
7       White alone, not Hispanic or Latino, percent        72.5


newhaven-ct | shape: (8, 2)
                                                Fact  Fact Value
0                               White alone, percent        77.9
1           Black or African American alone, percent        14.7
2   American Indian and Alaska Native alone, percent         0.5
3                               Asian alone, percent         4.3
4  Native Hawaiian and Other Pacific Islander alo...         0.1
5                         Two or More Races, percent         2.4
6                        Hispanic or Latino, percent        18.1
7       White alone, not Hispanic or Latino, percent        63.0


santaclara-ca | shape: (8, 2)
                                                Fact  Fact Value
0                               White alone, percent        53.8
1           Black or African American alone, percent         2.8
2   American Indian and Alaska Native alone, percent         1.2
3                               Asian alone, percent        37.5
4  Native Hawaiian and Other Pacific Islander alo...         0.5
5                         Two or More Races, percent         4.1
6                        Hispanic or Latino, percent        25.6
7       White alone, not Hispanic or Latino, percent        31.6


delaware-oh | shape: (7, 2)
                                               Fact  Fact Value
0                              White alone, percent        87.5
1          Black or African American alone, percent         3.6
2  American Indian and Alaska Native alone, percent         0.2
3                              Asian alone, percent         6.6
4                        Two or More Races, percent         2.0
5                       Hispanic or Latino, percent         2.6
6      White alone, not Hispanic or Latino, percent        85.3


morgan-il | shape: (8, 2)
                                                Fact  Fact Value
0                               White alone, percent        90.7
1           Black or African American alone, percent         6.3
2   American Indian and Alaska Native alone, percent         0.4
3                               Asian alone, percent         0.7
4  Native Hawaiian and Other Pacific Islander alo...         0.1
5                         Two or More Races, percent         1.8
6                        Hispanic or Latino, percent         2.4
7       White alone, not Hispanic or Latino, percent        88.8


walworth-wi | shape: (8, 2)
                                                Fact  Fact Value
0                               White alone, percent        95.8
1           Black or African American alone, percent         1.3
2   American Indian and Alaska Native alone, percent         0.5
3                               Asian alone, percent         1.1
4  Native Hawaiian and Other Pacific Islander alo...         0.1
5                         Two or More Races, percent         1.3
6                        Hispanic or Latino, percent        11.4
7       White alone, not Hispanic or Latino, percent        85.2


sanbernardino-ca | shape: (8, 2)
                                                Fact  Fact Value
0                               White alone, percent        76.9
1           Black or African American alone, percent         9.4
2   American Indian and Alaska Native alone, percent         2.1
3                               Asian alone, percent         7.6
4  Native Hawaiian and Other Pacific Islander alo...         0.5
5                         Two or More Races, percent         3.5
6                        Hispanic or Latino, percent        53.4
7       White alone, not Hispanic or Latino, percent        28.6


shasta-ca | shape: (8, 2)
                                                Fact  Fact Value
0                               White alone, percent        88.0
1           Black or African American alone, percent         1.1
2   American Indian and Alaska Native alone, percent         3.1
3                               Asian alone, percent         3.1
4  Native Hawaiian and Other Pacific Islander alo...         0.2
5                         Two or More Races, percent         4.4
6                        Hispanic or Latino, percent        10.1
7       White alone, not Hispanic or Latino, percent        79.8


westmoreland-pa | shape: (7, 2)
                                               Fact  Fact Value
0                              White alone, percent        94.9
1          Black or African American alone, percent         2.5
2  American Indian and Alaska Native alone, percent         0.1
3                              Asian alone, percent         1.0
4                        Two or More Races, percent         1.5
5                       Hispanic or Latino, percent         1.2
6      White alone, not Hispanic or Latino, percent        93.9


alameda-ca | shape: (8, 2)
                                                Fact  Fact Value
0                               White alone, percent        50.2
1           Black or African American alone, percent        11.3
2   American Indian and Alaska Native alone, percent         1.1
3                               Asian alone, percent        31.1
4  Native Hawaiian and Other Pacific Islander alo...         1.0
5                         Two or More Races, percent         5.3
6                        Hispanic or Latino, percent        22.5
7       White alone, not Hispanic or Latino, percent        31.5

In [73]:
#convert all city csv to dataframe
columns = demographic_rows

df_cities = pd.DataFrame()
i1 = 0
city_csv = [top_cities, mid_cities, bot_cities, other_cities]
for a in city_csv:
    index = 0
    for b in a.keys():
        i2 = 0
        for x in range(0, 8):
            if x < len(city_csv[i1].get(b)["Fact Value"]):
                #if a value is not present (always pacific islander data), we set it equal to zero
                if (len(city_csv[i1].get(b)["Fact Value"]) < 7) and x ==4:
                     df_cities.loc[x,b] = 0
                else:
                    df_cities.loc[x,b] = (city_csv[i1].get(b)["Fact Value"][i2])
            i2 = i2 + 1
    i1 = i1 + 1
    index = index + 1
df_cities = df_cities.transpose()
df_cities

                     0     1    2     3    4    5     6     7
cambridge-ma      66.9  10.8  0.2  15.7  0.1  4.2   8.8  61.6
newhaven-ct       43.0  33.0  0.3   4.7  0.0  3.9  30.4  30.3
stanford-ca       56.6   4.3  0.4  27.0  0.3  9.7  13.6  47.4
jacksonville-il   84.9  11.0  0.3   1.0  0.0  2.6   3.9  81.8
westerville-oh    86.2   8.0  0.0   2.1  0.0  3.2   1.9  84.6
whitewater-wi     87.9   3.8  0.1   2.1  0.6  2.9   9.6  81.8
greensburg-pa     88.0   6.1  0.0   1.4  0.0  4.4   2.1  86.3
redding-ca        84.3   1.4  2.2   4.8  0.0  4.7  10.1  77.9
sanbernardino-ca  57.4  14.1  0.7   4.5  0.2  4.6  64.3  15.3
berkeley-ca       60.2   8.6  0.5  19.7  0.5  7.1  11.0  54.6

In [74]:
#convert all city csv to dataframe
df_counties = pd.DataFrame()
i1 = 0
county_csv = [top_counties, mid_counties, bot_counties, other_counties]
for a in county_csv:
    index = 0
    for b in a.keys():
        bool = False;
        i2 = 0
        for x in range(0, 8):
            if len(county_csv[i1].get(b)["Fact Value"]) < 8 and x==4:
                print("here")
                bool= True;
                df_counties.loc[x,b] = 0
            elif bool== True:
                df_counties.loc[x,b] = (county_csv[i1].get(b)["Fact Value"][i2-1])
            else:
                df_counties.loc[x,b] = (county_csv[i1].get(b)["Fact Value"][i2])
            i2 = i2 + 1
    i1 = i1 + 1
    index = index + 1
df_counties = df_counties.transpose()
df_counties

here
here

                     0     1    2     3    4    5     6     7
middlesex-ma      79.2   5.8  0.3  12.3  0.1  2.4   8.0  72.5
newhaven-ct       77.9  14.7  0.5   4.3  0.1  2.4  18.1  63.0
santaclara-ca     53.8   2.8  1.2  37.5  0.5  4.1  25.6  31.6
delaware-oh       87.5   3.6  0.2   6.6  0.0  2.0   2.6  85.3
morgan-il         90.7   6.3  0.4   0.7  0.1  1.8   2.4  88.8
walworth-wi       95.8   1.3  0.5   1.1  0.1  1.3  11.4  85.2
sanbernardino-ca  76.9   9.4  2.1   7.6  0.5  3.5  53.4  28.6
shasta-ca         88.0   1.1  3.1   3.1  0.2  4.4  10.1  79.8
westmoreland-pa   94.9   2.5  0.1   1.0  0.0  1.5   1.2  93.9
alameda-ca        50.2  11.3  1.1  31.1  1.0  5.3  22.5  31.5

In [75]:
for indexr, city in df_cities.iterrows():
    for indexc, newvalue in city.iteritems():
        if "." in str(newvalue):
            oldvalue = (newvalue)
            newvalue = (float(newvalue)) / 100
            df_cities.loc[indexr,indexc] = round(newvalue, 2)

df_cities.columns = ["White all", "African American", "Native American", "Asian", "Pacific Islander", "Multiracial", "Hispanic", "White"]
df_cities['Unknown'] = 1 - df_cities["White"] - df_cities["African American"]-df_cities["Native American"] -df_cities["Asian"]-df_cities["Pacific Islander"] -df_cities["Multiracial"]
df_cities = df_cities.drop("White all", axis=1)

cols = ['African American', 'Asian', 'Hispanic', 'Multiracial',
       'Native American', 'Pacific Islander', 'Unknown', 'White']
df_cities = df_cities[cols]
df_cities

,African American,Asian,Hispanic,Multiracial,Native American,Pacific Islander,Unknown,White
cambridge-ma,0.11,0.16,0.09,0.04,0.00,0.00,0.07,0.62
newhaven-ct,0.33,0.05,0.30,0.04,0.00,0.00,0.28,0.30
stanford-ca,0.04,0.27,0.14,0.10,0.00,0.00,0.12,0.47
jacksonville-il,0.11,0.01,0.04,0.03,0.00,0.00,0.03,0.82
westerville-oh,0.08,0.02,0.02,0.03,0.00,0.00,0.02,0.85
whitewater-wi,0.04,0.02,0.10,0.03,0.00,0.01,0.08,0.82
greensburg-pa,0.06,0.01,0.02,0.04,0.00,0.00,0.03,0.86
redding-ca,0.01,0.05,0.10,0.05,0.02,0.00,0.09,0.78
sanbernardino-ca,0.14,0.04,0.64,0.05,0.01,0.00,0.61,0.15
berkeley-ca,0.09,0.20,0.11,0.07,0.01,0.01,0.07,0.55

In [76]:
for indexr, county in df_counties.iterrows():
    for indexc, newvalue in county.iteritems():
        if "." in str(newvalue):
            oldvalue = (newvalue)
            newvalue = (float(newvalue)) / 100
            df_counties.loc[indexr,indexc] = round(newvalue, 2)

df_counties.columns = ["White all", "African American", "Native American", "Asian", "Pacific Islander", "Multiracial", "Hispanic", "White"]
df_counties['Unknown'] = 1 - df_counties["White"] - df_counties["African American"]-df_counties["Native American"] -df_counties["Asian"]-df_counties["Pacific Islander"] -df_counties["Multiracial"]
df_counties = df_counties.drop("White all", axis=1)
cols = ['African American', 'Asian', 'Hispanic', 'Multiracial',
       'Native American', 'Pacific Islander', 'Unknown', 'White']
df_counties = df_counties[cols]
df_counties

,African American,Asian,Hispanic,Multiracial,Native American,Pacific Islander,Unknown,White
middlesex-ma,0.06,0.12,0.08,0.02,0.00,0.00,0.08,0.72
newhaven-ct,0.15,0.04,0.18,0.02,0.01,0.00,0.15,0.63
santaclara-ca,0.03,0.38,0.26,0.04,0.01,0.01,0.21,0.32
delaware-oh,0.04,0.07,0.03,0.02,0.00,0.00,0.02,0.85
morgan-il,0.06,0.01,0.02,0.02,0.00,0.00,0.02,0.89
walworth-wi,0.01,0.01,0.11,0.01,0.01,0.00,0.11,0.85
sanbernardino-ca,0.09,0.08,0.53,0.04,0.02,0.01,0.47,0.29
shasta-ca,0.01,0.03,0.10,0.04,0.03,0.00,0.09,0.80
westmoreland-pa,0.03,0.01,0.01,0.01,0.00,0.00,0.01,0.94
alameda-ca,0.11,0.31,0.23,0.05,0.01,0.01,0.19,0.32